* {
  font-family: "Indie Flower", cursive;
  text-align: center;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: lightblue;
}


.second-title {
  padding: 40px;
  font-size: 30px;
  margin: 0;
}

footer {
  border-top: 3px groove #F6FAFC;
  background-color: #EEF2F4;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
/*
    class styles
*/

.navigation-menu li {
  background-color: #F6FAFC;
  text-transform: uppercase;
  margin: 5px 10px;
  padding: 10px;
  font-size: 26px;
  list-style-type: none;
}

.navigation-menu {
  margin: 0;
  padding: 5px;
}

.name {
  font-size: 48px;
  margin: 0;
  padding: 5px;
}

.profile-picture {
  display: block;
  margin: 50px auto;
  height: 70%;
  width: 70%;
}

.intro {
  padding: 0 30px;
  color: gray;
  font-size: 25px;
  margin: 0 auto;
}

.main {
  background-color: #F6FAFC;
  margin-top: 50px;
  padding-bottom: 30px;
}

.project img {
  display: block;
  margin: auto;
  height: 80%;
  width: 80%;
}

.project h3 {
  padding: 20px;
  margin: 0 auto;
  font-size: 25px;
}

.project p {
  padding: 0 30px;
  font-size: 20px;
  margin: 0 auto;
}

.project {
  margin-bottom: 30px;
}

.contacts {
  background-color: #EEF2F4;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

h6 {
  margin: 10px 5px;
  font-size: 20px;
}

.my {
  float: left;
  margin: 20px;
}

.top {
  float: right;
  margin: 20px;
}

.date {
  margin-top: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.last {
  padding: 0 30px 30px 30px;
  color: gray;
  font-size: 25px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.skills {
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px;
}

.skills li {
  font-size: 25px;
}

.good {
  color: lightgreen;
  font-size: 28px;
}

.notgood {
  color: red;
  font-size: 23px;
}

@media (min-width: 768px) {

  .navigation-menu li {
    display: inline;
    background-color: #EEF2F4;
  }

  .profile-picture {
    width: 30%;
    height: 30%;
    float: right;
    margin-right: 25px;
  }

  .intro {
    width: 60%;
    display: block;
    float: left;
    margin: 50px 0 0 25px;
    font-size: 35px;
    text-align: left;
  }

  .project {
    width: 47%;
    display: inline-block;
    margin: 0;
    padding: 0 5px 50px 5px;
    vertical-align: top;
  }

  .project p {
    font-size: 25px;
    padding: 15px 80px;
    margin: 0;
  }

  .project h3 {
    padding: 20px 0 0;
  }

  .project img {
    height: 100%;
    width: 100%;
  }

  .last {
    padding-right: 200px;
    padding-left: 200px;
    font-size: 35px;
  }

  .top {
    display: none;
  }

  .hide {
    display: inline-block;
  }

  .my {
    font-size: 30px;
  }

  .skills li {
    display: inline-block;
    padding: 0 10px;
  }
}

@media (min-width: 1024px) {
  .project {
    width: 30%;
  }

  .project p {
    padding: 20px 40px;
  }

  .skills li {
    padding: 0 20px;
  }
}
